/* 
    COLORS: 
    BLACK: #262A26
    CREAM-200: #F0EAE5
    COFFE-700: #5D4737
    CREAM-600: #DFD2C8
    COFFE-400: #8A6A51
*/


.custom-bg {
    background-image: url(../public/images/bg-custom.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

