/* 
    COLORS: 
    BLACK: #262A26
    CREAM-100: #D9D9D9
    CREAM-200: #F0EAE5
    COFFE-700: #5D4737
    CREAM-600: #DFD2C8
    COFFE-400: #8A6A51
*/



.custom-bg {
    background-image: url(../public/images/bg-custom.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-cream-100 {
    background-color: #D9D9D9;
}

.bg-cream-200 {
    background-color: #F0EAE5;
}

.bg-cream-400 {
    background-color: #DFD2C8;
}

.bg-coffe-700 {
    background-color: #5D4737;
}

.text-cream-400 {
    color: #5D4737;
    font-weight: bold;
}

.text-white {
    color: white;
}

.custom-button {
    background-color: #5D4737;
    color: white;
}

.custom-container-text {
    background-color: #5D4737;
    color: white;
    border-radius: 25%;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}
